<form method="POST">
    <div class="mb-3">
        <label for="search-input" class="form-label">tim kiem</label>
        <input name="q" type="text" class="form-control" id="search-input" placeholder="nhap tu khoa">

        <label for="gender-input" class="form-label">gioi tinh</label>
        <select name="gender" id="gender-input">
            <option value="none">--- chon gioi tinh ---</option>
            <option value="nam">Nam</option>
            <option value="nu">nU</option>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>